.tooltip {
  background-color: var(--tooltip-bg);
  color: var(--tooltip-text);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--tooltip-border-color);
  opacity: 0; /* Initially hidden */
  position: absolute;
  display: inline-block;
  z-index: 1000;
  min-width: 200px;
  transition:
    top 0.3s ease,
    left 0.3s ease,
    opacity 0.3s ease; /* Smooth movement and fade */
}

.tooltip-indicator {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.tooltip-indicator.tooltip-indicator-left {
  border-width: 5px 5px 5px 0;
  border-color: transparent var(--tooltip-border-color) transparent transparent;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.tooltip-indicator.tooltip-indicator-right {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--tooltip-border-color);
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.tooltip-indicator.tooltip-indicator-top {
  border-width: 0 5px 5px;
  border-color: transparent transparent var(--tooltip-border-color);
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-indicator.tooltip-indicator-bottom {
  border-width: 5px 5px 0;
  border-color: var(--tooltip-border-color) transparent transparent;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
